.missions-page {
    background-color: black;
}

.points-header {
  color: grey;
  border-style: solid;
  border-color: black;
  background-color: whitesmoke;

  align-self: center;
  align-content: center;
  width: 130px;
  height: 130px;
  border-radius: 130px;
}

/* missions */

.missions-header {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 2em;
  color: white;
}
.missions {
  flex: 3;

  display: flex;

  flex-direction: column;
  align-items: center;

  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  border-radius: 3px;

  flex-wrap: wrap;
  gap: 10px;  
  padding: 10px;
}

.mission-title {
  width: 60%;
  padding: 2px;
  margin: 4px;
  font-size: 2em; 
  border-radius: 10px;
  color: white;
  align-self: center;
  background-color: black;
}
.mission-description {
  font-size: 1em;
  color: white;
  display: flex;
  align-items: flex-start;
  text-align: start;
  

  /* scrollbar fix */
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  height: 60%;

  border-style: solid;
  border-color: white;
  padding: 2px;
  border-radius: 5px;
  border-width: 3px;;
}
.mission-repeats {
  font-size: 1.2em;
  color: white;
}

.mission-complete-button {
  background-color: #28a745;
  border-style: solid;
  border-radius: 5px;
  border-color: black;

  width: 80px;
  height: 35px;  

  align-self: flex-end;
}

.unlimited-mission {
  width: 90%;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 10px;

  border-style: solid;
  border-color: white;
  border-radius: 20px;
  background-color: black;
}

.inactive-mission {
  width: 80%;
  height: 160px;
  display: flex;
  flex-direction: column;
  padding: 10px;

  border-style: solid;
  border-color: white;
  border-radius: 20px;
  background-color: grey;
}