.mysteries-page {
  background-color: black;  
}

.mysteries-container {
  margin-top: 20px;  
}

.mystery {
  border-style: solid;
  border-color: white;
  border-radius: 10px;

  height: 150px;
  width: 80%;

  justify-self: center;

  padding: 10px;

  margin-bottom: 20px;
}

.mystery-title {
  color: white;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.mystery-description {
  color: white;
  text-align: start;
  overflow: hidden;

  height: 60%;

  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}